
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng nhập tài khoản</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Đăng nhập/Đăng ký</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" style="height:500px;" src="~/Theme/img/logindn.jpg" alt="">
                    <div class="hover">
                        <h4>Khách hàng mới</h4>
                        <p>Nếu chưa có tài khoản bạn có thể đăng ký ngay để xem và đặt mua các sản phẩm từ cửa hàng của chúng tôi</p>
                        <a class="primary-btn" href="@Url.Action("DangKy", "Customer")">Tạo tài khoản mới</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="padding-top: 100px;" class="login_form_inner">
                    <h3>Nhập thông tin</h3>
                    @using (Html.BeginForm(new { @onchange = "this.form.submit();", @class = "row login_form" }))
                    {
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="Email" placeholder="Email/Số điện thoại" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email/SĐT'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="Pass" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        @ViewBag.ThongBao
                        @*<div class="col-md-12 form-group">
                <div class="creat_account">
                    <input type="checkbox" id="f-option2" name="selector">
                    <label for="f-option2">Keep me logged in</label>
                </div>
            </div>*@
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Đăng nhập</button>
                            
                        </div>
                        <h3 href="#" style="color: #337ab7;">Quên mật khẩu?</h3>
                    }
                    @*<form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
            <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Email/Số điện thoại" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email/SĐT'">
            </div>
            <div class="col-md-12 form-group">
                <input type="password" class="form-control" id="name" name="name" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
            </div>
            <div class="col-md-12 form-group">
                <div class="creat_account">
                    <input type="checkbox" id="f-option2" name="selector">
                    <label for="f-option2">Keep me logged in</label>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <button type="submit" value="submit" class="primary-btn">Đăng nhập</button>
                <a href="#" style="color: red;">Quên mật khẩu</a>
            </div>
        </form>*@
                </div>
            </div>
        </div>
    </div>
</section>

